* {
  @include box-sizing(border-box);
}

html {
  background-color: $bg-color;
  color: $text-color;
  position: relative;
  min-height: 100%;
  font-family: $font-family;
  font-size: $base-font-size;
}

body {
  padding-top: $header-total-height;
  margin: 0 0 $footer-total-height;

  @include min-screen($break-small) {
    padding-top: $header-total-height-medium;
  }
}

// Type

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  color: $heading-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $light-green;
  }
}

// Main elements

.container {
  width: $container-width-small;
  padding: 0 15px;
  margin: 0 auto;

  @include min-screen($break-medium) {
    width: $container-width-medium;
  }
}

header {
  height: $header-height;
  background-color: $header-bg;
  color: $header-color;

  &.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
  }

  h1 {
    color: $logo-color;
    font-size: $logo-font-size;
    margin: 14px 0;
    padding: 0;

    em {
      color: $logo-secondary-color;
    }
  }

  nav {
    ul {
      list-style-type: none;
      margin: 0 0 14px 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      float: left;
      margin-right: 1em;

      a {
        font-size: 0.9em;
      }
    }
  }
}

@include min-screen($break-small) {
  header {
    height: $header-height-medium;

    h1, nav {
      float: left;
    }

    h1 {
      margin: 0;
      line-height: $header-height-medium;
    }

    nav {
      ul {
        margin: 20px 0 0 1.75em;

        a {
          display: block;
          margin-bottom: 20px;
        }
      }
    }
  }
}


#main {
  .anchor {
    display: block;
    position: relative;
    top: -($header-total-height);
    visibility: hidden;
  }

  .lead h2 {
    margin-top: 0;
  }

  @include min-screen($break-small) {
    .anchor {
      top: -($header-total-height-medium);
    }
  }
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $footer-height;
  line-height: $footer-height;
  background-color: $footer-bg;
  color: $white;
  font-size: $footer-font-size;
}
